user-detail {
  .user-profile {
    padding: 8px;
    min-height: 290px;

    .user-avatar {
      border-radius: 50%;
      width: 136px;
      height: 136px;
      overflow: hidden;
      img {
        box-sizing: border-box;
        display: block;
        border-radius: 50%;
        padding: 4px;
        overflow: hidden;
      }
    }
    .user-information {
      padding: 16px;
      .user-name {
        text-transform: capitalize;
        font-size: 18px;
      }
      .user-login {
        color: rgba(250, 250, 250, 0.8);
      }
    }
    .user-details {
      .user-detail {
        padding: 8px;
        border-top: 1px solid rgba(250, 250, 250, 0.6);
        border-right: 1px solid rgba(250, 250, 250, 0.6);
        &:last-child {
          border-right: none;
        }
        label {
          display: block;
          font-size: 11px;
          color: rgba(250, 250, 250, 0.8);
        }
        span {
          display: block;
          font-size: 12px;
        }
      }
    }
  }
}