<md-toolbar md-whiteframe="4" ng-controller="LayoutController as layoutController">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" hide-gt-md aria-label="{{'layout.menu' | translate}}" ng-click="layoutController.handleBackMenuClick('task.list')">
            <div class="back-menu" ng-class="{'toggled': !layoutController.isMenuAvailable()}">
                <div class="bar top"></div>
                <div class="bar middle"></div>
                <div class="bar bottom"></div>
            </div>
        </md-button>
        <md-button class="md-icon-button" ng-show="!layoutController.isMenuAvailable()" hide show-gt-md ng-click="layoutController.handleBackMenuClick('task.list')"
            aria-label="{{'layout.menu' | translate}}">
            <md-icon md-font-library="material-icons">arrow_back</md-icon>
        </md-button>
        <span flex></span>
        <div ng-transclude="toolbar">
            <!-- amb-layout-toolbar transclude -->
        </div>
    </div>
</md-toolbar>

<div layout-padding layout="row" layout-align="center center">
    <md-card flex-gt-sm="90" flex-gt-md="80" flex>
        <md-card-content ng-transclude="content">
            <!-- amb-layout-content transclude -->
        </md-card-content>
    </md-card>
</div>

<div ng-transclude="fab">
    <!-- amb-layout-fab transclude -->
</div>