[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

md-sidenav md-toolbar {
  .user-profile {
    font-size: small;
    .user-email {
      opacity: 0.8;
    }
  }
}

.back-menu {
  $duration: 300ms;
  margin: 2px;
  .bar {
    background-color: white;
    transition: transform $duration ease-out;
    &.top {
      height: 2px;
      width: 18px;
      transform-origin: 0px 8px;
    }
    &.middle {
      height: 2px;
      width: 18px;
      margin-top: 3px;
      margin-bottom: 3px;
    }
    &.bottom {
      height: 2px;
      width: 18px;
      transform-origin: 0px -8px;
    }
  }
  &.toggled {
    .bar {
      transition: transform $duration ease-in;
      &.top {
        transform: rotate(225deg) translate(-11px, 10px) scale(0.66, 1.0);
      }
      &.middle {
        transform: rotate(180deg) scale(0.77, 1.0);
      }
      &.bottom {
        transform: rotate(135deg) translate(-10px, -13px) scale(0.66, 1.0);
      }
    }
  }
}