@import url("node_modules/angular-material/angular-material.css");

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

md-sidenav md-toolbar .user-profile {
  font-size: small;
}
md-sidenav md-toolbar .user-profile .user-email {
  opacity: 0.8;
}

.back-menu {
  margin: 2px;
}

.back-menu .bar {
  background-color: white;
  transition: transform 300ms ease-out;
}
.back-menu .bar.top {
  height: 2px;
  width: 18px;
  transform-origin: 0px 8px;
}
.back-menu .bar.middle {
  height: 2px;
  width: 18px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.back-menu .bar.bottom {
  height: 2px;
  width: 18px;
  transform-origin: 0px -8px;
}

.back-menu.toggled .bar {
  transition: transform 300ms ease-in;
}
.back-menu.toggled .bar.top {
  transform: rotate(225deg) translate(-11px, 10px) scale(0.66, 1);
}
.back-menu.toggled .bar.middle {
  transform: rotate(180deg) scale(0.77, 1);
}
.back-menu.toggled .bar.bottom {
  transform: rotate(135deg) translate(-10px, -13px) scale(0.66, 1);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/MaterialIcons-Regular.woff2) format('woff2'),
       url(/MaterialIcons-Regular.woff) format('woff'),
       url(/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}