<md-sidenav md-component-id="sidebar" class="md-sidenav-left" md-whiteframe="16" md-is-locked-open="$mdMedia('gt-sm')">
  <md-toolbar class="md-tall">
    <span flex></span>
    <div layout="column" class="user-profile inset">
      <span class="user-name">Firstname Lastname</span>
      <span class="user-email">email@domainname.com</span>
    </div>
  </md-toolbar>
  <nav>
    <md-menu-content>
      <md-menu-item ng-repeat="menuItem in $ctrl.menuItems" ui-sref="{{menuItem.state}}" ng-click="$ctrl.closeSidenav()">
        <md-button aria-label="{{menuItem.name | translate}}">
          <md-icon md-font-library="material-icons" aria-label="{{menuItem.name | translate}}">{{menuItem.icon}}</md-icon>
          <span>{{menuItem.name | translate}}</span>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </nav>
</md-sidenav>

<md-content layout="column" flex>
  <md-toolbar md-whiteframe="4" class="amb-toolbar">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" hide-gt-sm aria-label="{{'layout.menu' | translate}}" ng-click="$ctrl.handleBackMenuClick()">
        <div class="back-menu" ng-class="{'toggled': !$ctrl.isMenuAvailable()}">
          <div class="bar top"></div>
          <div class="bar middle"></div>
          <div class="bar bottom"></div>
        </div>
      </md-button>
      <md-button class="md-icon-button" ng-show="!$ctrl.isMenuAvailable()" hide show-gt-sm ng-click="$ctrl.handleBackMenuClick()"
        aria-label="{{'layout.menu' | translate}}">
        <md-icon md-font-library="material-icons">arrow_back</md-icon>
      </md-button>
      <span flex></span>
      <div ui-view="toolbar" layout flex layout-align="end center"></div>
    </div>
  </md-toolbar>
  <div class="amb-content" ui-view="content" layout flex></div>
  <div class="amb-fab" ui-view="fab"></div>
</md-content>