<amb-layout>
    <amb-layout-content flex-gt-sm="90" flex-gt-md="80">
        <md-card>
            <md-card-content>
                <md-list ng-if="vm.tasks.length > 0">
                    <md-list-item class="md-2-line" ng-repeat="task in vm.tasks track by task.id" ng-click="vm.edit(task)">
                        <div class="md-list-item-text">
                            <h3>{{task.name}}</h3>
                            <p>{{task.description}}</p>
                        </div>
                        <md-divider ng-show="!$last"></md-divider>
                    </md-list-item>
                </md-list>
                <p ng-if="vm.tasks.length === 0" translate="task.list.empty"></p>
            </md-card-content>
        </md-card>
    </amb-layout-content>

    <amb-layout-fab>
        <md-button class="md-fab md-fab-bottom-right" aria-label="{{ 'add' | translate }}" ui-sref="task.create">
            <md-icon md-font-library="material-icons">add</md-icon>
        </md-button>
    </amb-layout-fab>
</amb-layout>