.tasks {
  md-list-item {
    .md-list-item-text {
      p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}

.no-tasks {
  span {
    color: rgba(0, 0, 0, 0.38);
  }
}