.tasks {
    md-list-item {
        ._md-list-item-inner {
            max-width: calc(100% - 40px);
        }

        .md-list-item-text {
            p {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}