[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-sidenav {
  md-toolbar {
    .user-profile {
      font-size: 14px;
      .user-email {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}
