<md-sidenav md-component-id="sidebar" class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="16dp">
  <md-toolbar class="md-tall">
    <span flex></span>
    <div layout="column" class="user-profile inset">
      <span class="user-name">Firstname Lastname</span>
      <span class="user-email">email@domainname.com</span>
    </div>
  </md-toolbar>
  <nav>
    <md-menu-content>
      <md-menu-item ng-repeat="menuItem in $ctrl.menuItems" ui-sref="{{menuItem.state}}" ng-click="$ctrl.closeSidenav()">
        <md-button aria-label="{{menuItem.name | translate}}">
          <md-icon md-font-library="material-icons" aria-label="{{menuItem.name | translate}}">{{menuItem.icon}}</md-icon>
          <span>{{menuItem.name | translate}}</span>
        </md-button>
      </md-menu-item>
    </md-menu-content>
  </nav>
</md-sidenav>
<div ui-view="content" flex layout="column" style="margin-left: {{ $ctrl.$mdSidenav('sidebar').isLockedOpen() ? '320px' : '0' }}"></div>